<?xml version="1.0"?>
<configuration>   
  <appSettings>
    <add key="LinkedInEmailAddress" value="services@adamdotcom.com" />
    <add key="LinkedInPassword" value="ffam66868" />
    
    <add key="AmazonAccessKey" value="1MRFMGASE6CQKS2WTMR2" />
    <add key="AmazonAssociateTag" value="adamkahtavaap-20" />
    <add key="AmazonSecretAccessKey" value="XQDk151teVewB/F2wKQkUEb98aIzZYE1sA/lCrt0" />
    
    <add key="EnableCaching" value="True" />
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment>
      <baseAddressPrefixFilters>
        <add prefix="http://adam.kahtava.com/services" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service name="AdamDotCom.Amazon.Service.AmazonService" behaviorConfiguration="Default">
        <endpoint address="" binding="customBinding" bindingConfiguration="jsonpBinding" contract="AdamDotCom.Amazon.Service.IAmazon" behaviorConfiguration="Default" />
      </service>
      <service name="AdamDotCom.Resume.Service.ResumeService" behaviorConfiguration="Default">
        <endpoint address="" binding="customBinding" bindingConfiguration="jsonpBinding" contract="AdamDotCom.Resume.Service.IResume" behaviorConfiguration="Default" />
      </service>
      <service name="AdamDotCom.Whois.Service.WhoisService" behaviorConfiguration="Default">
        <endpoint address="" binding="customBinding" bindingConfiguration="jsonpBinding" contract="AdamDotCom.Whois.Service.IWhois" behaviorConfiguration="Default" />
      </service>
      <service name="AdamDotCom.OpenSource.Service.OpenSourceService" behaviorConfiguration="Default">
        <endpoint address="" binding="customBinding" bindingConfiguration="jsonpBinding" contract="AdamDotCom.OpenSource.Service.IOpenSource" behaviorConfiguration="Default" />
      </service>     
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Default">
          <webHttpWithExceptions />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="webHttpWithExceptions" type="AdamDotCom.Common.Service.Infrastructure.WebHttpWithExceptionsElement, AdamDotCom.Common.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="jsonpMessageEncoding" type="AdamDotCom.Common.Service.Infrastructure.JSONP.JsonpBindingExtension, AdamDotCom.Common.Service, Version=1.0.0.0, Culture=neutral"/>
      </bindingElementExtensions>    
    </extensions>
    <bindings>
      <customBinding>
        <binding name="jsonpBinding" >
          <jsonpMessageEncoding />
          <httpTransport manualAddressing="true"/>
        </binding>
      </customBinding>
    </bindings>     
  </system.serviceModel>
  <system.web>
    <customErrors mode="On"/>
    <compilation debug="false">
      <buildProviders>
        <add extension=".svc" type="System.ServiceModel.Activation.ServiceBuildProvider, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </buildProviders>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RewriterModule" type="ManagedFusion.Rewriter.RewriterModule, ManagedFusion.Rewriter" />
    </modules>
  </system.webServer>
</configuration>