<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Default">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  
    <client>
      <endpoint address="http://localhost:12345/Amazon.svc" behaviorConfiguration="Default" binding="webHttpBinding" contract="AdamDotCom.Resume.Service.Proxy.IAmazon" />
    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>